@page "/edit-i-n05"

<PageTitle>Edit IN05</PageTitle>
    <div class="col-md-12">
        <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger" Visible="@errorVisible">No se Pudo Guardar</RadzenAlert>
        <RadzenTemplateForm TItem="VentaProducto.Server.Models.PruebaVentas.IN05" Data="@iN05" Visible="@(iN05 != null)" Submit="@FormSubmit">
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="IDFamilia" Component="IDFamilia" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenNumeric style="display: block; width: 100%" @bind-Value="@iN05.IDFamilia" Name="IDFamilia" />
                    <RadzenRequiredValidator Component="IDFamilia" Text="Dato Requerido" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="NombreFamilia" Component="NombreFamilia" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@iN05.NombreFamilia" Name="NombreFamilia" />
                    <RadzenRequiredValidator Component="NombreFamilia" Text="Dato Requerido" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="UsuarioIngreso" Component="UsuarioIngreso" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@iN05.UsuarioIngreso" Name="UsuarioIngreso" />
                    <RadzenRequiredValidator Component="UsuarioIngreso" Text="UsuarioIngreso is required" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Estado" Component="Estado" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenNumeric style="display: block; width: 100%" @bind-Value="@iN05.Estado" Name="Estado" />
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-end" style="margin-top: 1rem">
                    <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Actualizar" Style="margin-right: 0.5rem" Variant="Variant.Flat" />
                    <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Variant="Variant.Flat" Click="@CancelButtonClick"  />
                </div>
            </div>
        </RadzenTemplateForm>
    </div>

